<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schapes</title>
    <link rel="stylesheet" href="/design.css">
</head>
<body>
    <div class="bar">
        <a class="topnav-buttons" href="/index.html">Home</a>
        <a class="topnav-buttons" href="/games.html">Play</a>
        <a class="topnav-buttons" href="/contact.html">Contact</a>
        <a class="topnav-buttons" style="float:right">Sign up</a>
        <a class="topnav-buttons" style="float:right">Log in</a>
    </div>
</body>
</html>